html {
	min-height: 100%;
	position: relative;
}

body {
	height: 100%;
}

#buttons {
	position: absolute;
	left: 1em;
	top: 1em;
	width: 100px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
}

.btn {
	margin: auto;
	margin-bottom: .25em;
	text-align: center;
	height: 2.5em;
}

#canvas-wrapper {
	border: 5px solid #000;
	width: 450px;
	margin: 5% auto;
	padding: 50px;
	border-radius: 275px;
	background-image: radial-gradient(#000 0%, #555 55%, #00f 70%);
}

canvas {
	margin: 2em;
	border: 1px solid #000;
/*	align-items: center;*/
/*	width: 300px;
	height: 300px;*/
	background-color: #ccc;
}

#completed-whirls {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 200px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	display: none;
}

.stored-whirl {
	margin: auto;
	margin-bottom: .25em;
	text-align: center;
	
}